//color ideas

//pallet 1 r2d2
$darkBlue: #132D7A;
$lightBlue: #39509B;
$greyBlue: #5A6C8D;
$lightTan: #BABAB8;
$brownTan: #9C9688;

//pallet 2 general
$smokeBlack: #080E0C;
$Gold: #FCB001;
$orange: #EA922C;
// $pewterBlue: #9AB0BD;
$midnightGreen: #0F3D56;

//palet 3 newhope
$granite: #686665;
$taupe: #998C88;
$khaki: #C4A89C;
$cream: #F0E1B9;
$displayBox: #e5dbb3;
$peach: #F3CC8C;

//fonts
$space: 'Bangers', cursive; 
$computer: 'Roboto Mono', monospace;
$regular: 'Changa', sans-serif;